<li><span>
	{{name}}

	<button id="smash" class="change-devoured" data-id="{{id}}" data-newDevoured="{{devoured}}">
		{{#if devoured}}{{else}}SMASH DA BURGA!{{/if}}
	</button>

	<button id="delete" class="delete-burger" data-id="{{this.id}}">DELETE!</button>
</span></li>
